body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.txt {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 21px;
  text-decoration: unset;
  color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.s {
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translateX(-50%);
}

input, .r {
  padding: 0px;
  border: solid 2px black;
  width: 296px;
  margin-top: 5px;
  font-size: 17px;
}

.r {
  text-align: center;
}

.icon {
  vertical-align: bottom;
}

.btn {
  font-size: 21px;
  width: 200px; /* Beispielwert, ändere die Größe nach Bedarf */
  height: 50px; /* Beispielwert, ändere die Größe nach Bedarf */
  margin-bottom: 10px; /* Beispielwert, ändere den Abstand zwischen den Buttons nach Bedarf */
}

.btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}